@import '../../../../colors.scss';

.jewelry-edit-page {
  display: flex;
  flex-direction: column;
}

.jewelry-edit-page input {
  color: $black-color;
}

.jewelry-edit-page select {
  min-width: 200px;
  color: $black-color;
  font-size: 20px;
}

.jewelry-edit-page option {
  color: $black-color;
}

.jewelry-edit-page input {
  color: $black-color;
  font-size: 20px;
  min-width: 700px;
}

.jewelry-edit-page textarea {
  color: $black-color;
  font-size: 20px;
  min-width: 800px;
  min-height: 300px;
}

.react-select__option {
  color: $black-color;
}

.jewelry-edit-page__btn-save {
  cursor: pointer;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  width: 200px;
  height: 40px;
  color: $violet-basic-color;
  background-color: transparent;
  border: 2px solid $violet-basic-color;
  border-radius: 100px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
}

.jewelry-edit-page__btn-save:hover {
  background-color: $violet-hover-color;
  color: $white-color;
}
