@import '../../../colors';

.header-nav {
  display: flex;
  width: auto;
  justify-content: space-between;

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    min-width: 700px;
    margin-right: 300px;
  }

  &__item:not(:last-child) {
    margin-right: 10px;
  }
  &__item:not(:first-child) {
    margin-left: 10px;
  }

  &__link {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 3px;
    width: auto;
    color: $white-color;
    font-size: 18px;
    border: 2px solid transparent;
    transition: color 0.4s ease-in-out, border 0.4s ease-in-out;
  }

  &__link:hover {
    color: $violet-hover-color;
  }

  &__link:hover svg path {
    fill: $violet-hover-color;
  }

  &__link:active svg path {
    fill: $violet-active-color;
  }

  &__link svg path {
    transition: fill 0.4s ease-in-out;
  }

  &__link:active {
    color: $violet-active-color;
  }

  &__about-me {
    position: absolute;
    display: flex;
    top: 450px;
    left: 170px;
  }

  &__login {
    margin-left: 200px !important;
    position: relative;
  }
}

.header-login {
  display: flex;
  align-items: center;
  height: 80px;
}

.link-basket {
  padding-right: 35px;
  position: relative;
}

.svg-basket {
  position: absolute;
  top: 3px;
  right: 7px;
}

.svg-login {
  margin-right: 5px;
}

.active {
  position: relative;
  color: $violet-basic-color;
  padding-bottom: 3px;
  cursor: pointer;
  border: 2px solid $violet-basic-color;
  transition: color 0.4s ease-in-out, border 0.4s ease-in-out;
}

.active svg path {
  fill: $violet-basic-color;
}

.link__redactor {
  color: $turquoise-color;
}

.login-name-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.login-name {
  margin-right: 20px;
}

.exit-btn {
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
  width: auto;
  height: 30px;
  color: $violet-basic-color;
  background-color: transparent;
  border: 2px solid $violet-basic-color;
  border-radius: 100px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
}

.exit-btn:hover {
  background-color: $wrong-light-red-color;
  color: $white-color;
}
