@import '../../colors.scss';

.redactor-page__btn {
  cursor: pointer;
  background-color: $turquoise-color;
  border-radius: 100px;
  margin-bottom: 50px;
  border: 2px solid $turquoise-color;
  width: 554px;
  height: 77px;
  text-align: center;
  font-family: Open Sans;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: background-color 0.4s ease-in-out;
}

.redactor-page__btn:hover {
  background-color: $violet-hover-color;
}
