@import '../../../../colors.scss';

.redactor-table {
  &__header {
    background-color: $gray-color-333;
    height: 70px;
    text-align: center;
  }

  &__row {
    background-color: 1px solid $gray-color-999;
  }

  &__btn-delete {
    cursor: pointer;
    font-size: 18px;
    background-color: transparent;
    transition: background-color 0.4s ease-in-out;
  }

  &__btn-delete:hover {
    background-color: $wrong-red-color;
  }

  &__btn-change {
    cursor: pointer;
    font-size: 18px;
    background-color: transparent;
    transition: background-color 0.4s ease-in-out;
  }

  &__btn-change:hover {
    background-color: $turquoise-color;
  }
}

.redactor-table__row {
  border-bottom: 2px solid red;
}
