$black-color: #000;
$black-color-60: rgba(0, 0, 0, 0.6);
$basic-gray-color: #202020;
$gray-color-333: #333;
$gray-color-666: #666;
$gray-color-999: #999;
$gray-color-ca: #cacaca;
$gray-color-e9: #e9e9e9;
$white-color: #fff;
$violet-active-color: #7943a4;
$violet-basic-color: #9d5cd0;
$violet-hover-color: #c283f3;
$soft-violet-color: #d1a9f0;
$wrong-red-color: #d11616;
$wrong-light-red-color: #f06666;
$turquoise-color: #49bbc4;
